# Домашнее задание «Библиотека Pandas»

## Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
len(ratings['movieId'].unique()) #количество уникальных индентификаторов фильмов

9724

In [4]:
list_ = [] #список для внесения количества оценок 5.0 и индентификатора фильма
for movie_id in ratings['movieId'].unique():
    num5 = len(ratings[(ratings.movieId == movie_id) & (ratings.rating == 5.0)])
    list_.append( (num5, movie_id) )

In [5]:
print(f'Фильму с id = {max(list_)[1]} было выставлено больше всего оценок 5.0 в количестве {max(list_)[0]}')

Фильму с id = 318 было выставлено больше всего оценок 5.0 в количестве 153

In [6]:
movies = pd.read_csv('ml-latest-small/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [7]:
movies[movies.movieId == max(list_)[1]]['title'] #название фильма

277    Shawshank Redemption, The (1994)
Name: title, dtype: object

## Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [8]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [9]:
def baltic(country):
    
    if country in ['Lithuania', 'Latvia', 'Estonia']:
        return 'Прибалтика'
    
    return 'Other'

In [10]:
data['baltic'] = data.country.apply(baltic)
data.baltic.value_counts()

Other         1162176
Прибалтика      27306
Name: baltic, dtype: int64

In [11]:
data[data.baltic == 'Прибалтика']

           country  year  quantity  category      baltic
373      Lithuania  2014      39.0         1  Прибалтика
374      Lithuania  2013     192.0         1  Прибалтика
375      Lithuania  2012     196.0         1  Прибалтика
376      Lithuania  2011     171.0         1  Прибалтика
377      Lithuania  2010     158.0         1  Прибалтика
...            ...   ...       ...       ...         ...
1188862  Lithuania  2003       0.0        71  Прибалтика
1188863  Lithuania  2002       0.0        71  Прибалтика
1188864  Lithuania  2001       0.0        71  Прибалтика
1188865  Lithuania  2000       0.0        71  Прибалтика
1188866  Lithuania  1999       0.0        71  Прибалтика

[27306 rows x 5 columns]

In [12]:
"суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года"
data[(
    (data.baltic == 'Прибалтика') & 
    ( 
    (data.category == 4) | 
    (data.category == 12) | 
    (data.category == 21)  
    ) &
    (data.quantity >= 0) & 
    (2005 <= data.year ) & 
    (data.year <= 2010)
    )]['quantity'].sum()

240580.0

## Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [22]:
URL = 'https://russian-trade.com/coronavirus-russia/moskva/'
pd.read_html(URL, flavor='html5lib', encoding='utf-8')[0]

           Дата  Заражений  Смертей  Выздоровлений  Заражено на дату
0    18.12.2020     722178    10243         557028            154907
1    17.12.2020     715241    10171         551207            153863
2    16.12.2020     708530    10095         545430            153005
3    15.12.2020     703502    10022         539859            153621
4    14.12.2020     698084     9945         534552            153587
..          ...        ...      ...            ...               ...
262  31.03.2020       1613       11             70              1532
263  30.03.2020       1226        6             28              1192
264  29.03.2020       1014        6             28               980
265  28.03.2020        817        4             18               795
266  27.03.2020        703        3             18               682

[267 rows x 5 columns]